$text-main-color: #00f9f9;
$color-good: #05ff05;
$color-neutral: #05f1f9;
$color-bad: #fd0412;

$background-color-good: #467946;
$background-color-neutral: #5e9d9f;
$background-color-bad: #9f0f17;

$notification-color: #5b0000;

$border-radius: 5px;

$container-border-color: #871600;
